.locationForm {
  position: relative;
}

.formCard {
  position: fixed;
  overflow-y: auto;
  overflow-x: auto;
  top: 1px;
  left: 1px;
  bottom: 1px;
  width: 33%;
  z-index: 750;
  background: var(--content-color);
  border: 1.5px solid var(--border-color);
  border-radius: 10px;
  padding: 2.5rem;
}

.header {
  text-align: center;
}

.field {
  display: block;
}

.field[id="indoor"],
.field[id="type"] {
  margin-right: 0;
  margin-left: auto;
}

.outlined {
  outline: 1.5px solid var(--border-color-light);
  border-radius: 5px;
}

.outlined:focus,
.outlined:focus-visible {
  box-shadow: 0px 1px 5px 0px var(--box-shadow-color);
}

.formRowLarge {
  margin: 1.5rem;
}

.formRowSmall {
  margin: 1.5rem;
  display: flex;
  align-items: center;
}

.formRowLarge textarea {
  height: 10rem;
  min-height: 2rem;
}

.formRowLarge input,
.formRowLarge textarea {
  margin-top: 0.375rem;
  width: 100%;
  padding: 0.5rem;
}

.field[id="type"] {
  padding: 0.25rem;
}

.submitButton {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  color: var(--content-color);
  background: var(--icon-color);
  padding: 0.75rem;
  border-radius: 5px;
}

.submitButton:hover {
  cursor: pointer;
  background: var(--icon-color-hover);
}
