.search {
  position: fixed;
  top: 1px;
  left: 1px;
  /* z-index of Leaflet popup is 700 */
  z-index: 750;
  width: 25%;
  background: var(--content-color);
  border: 1.5px solid var(--border-color);
  border-radius: 10px;
}

.searchIcon {
  color: var(--content-color);
  width: 1.25rem;
  height: 1.25rem;
}

.searchIconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5em;
  background: var(--icon-color);
  border-radius: 50%;
}

.searchIconWrapper:hover {
  cursor: pointer;
  background: var(--icon-color-hover);
}

.searchInput {
  height: 2rem;
  width: calc(100% - 2.5rem);
  font-size: 0.825rem;
  padding: 0.75em;
  outline: 1.5px solid var(--border-color-light);
  border-radius: 30px;
}

.searchInput:focus,
.searchInput:focus-visible {
  box-shadow: 0px 1px 5px 0px var(--box-shadow-color);
}

.searchBox {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.searchResult {
  display: block;
  width: 100%;
  background: white;
  font-size: 0.825rem;
  padding: 0.5em;
  border-radius: 10px;
  border-top: 1px solid var(--border-color-light);
}

.searchResult:hover {
  cursor: pointer;
  background: var(--content-color-hover);
}
