@import url("https://fonts.googleapis.com/css?family=Noto+Sans");

:root {
  --icon-color: #f6565c;
  --icon-color-hover: #e01661;
  --border-color: #b0b0b0;
  --border-color-light: #dddddd;
  --content-color: #ffffff;
  --content-color-hover: #dddddd;
  --box-shadow-color: #f6565c;
}

* {
  font-family: "Noto Sans", sans-serif;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box; /* Firefox, other Gecko */
  box-sizing: border-box; /* Opera/IE 8+ */
  margin: 0;
  border: 0;
  padding: 0;
}

input[type="text"],
textarea,
button,
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
